@using Nulah.AtHome.Data.DTO.Events
@using Nulah.AtHome.Api.Models
@using System.Diagnostics
@using Nulah.AtHome.Api.Services
@using OpenTelemetry.Trace
@rendermode InteractiveServer

<button class="btn btn-primary" @onclick="ToggleEditMode">TEST toggle edit mode</button>

@if (!_showEditForm)
{
    <div>
        <div>@EventDto.Description</div>
        <div>Start: @EventDto.Start</div>
        <div>Start: @EventDto.End</div>
        <div>
            @string.Join(", ", EventDto.Tags.Select(x => x.Name))
        </div>
    </div>
}
else
{
    <EventForm EventDto="@EventDto" FormSubmit="SubmitUpdate"/>
}

@code {

    private bool _showEditForm = false;

    [Parameter]
    public BasicEventDto EventDto { get; set; } = default!;

    [Inject]
    private EventService EventService { get; set; } = default!;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(EventService);
    }

    private void ToggleEditMode()
    {
        // Toggling this will trigger the EventForm to receive parameters, so if EventDto is updated
        _showEditForm = !_showEditForm;
        StateHasChanged();
    }

    private async Task SubmitUpdate(EventFormData eventFormData)
    {
        var updateBasicEventRequest = new UpdateBasicEventRequest()
        {
            Id = EventDto.Id,
            Version = EventDto.Version,
            Description = eventFormData.Description,
            Start = eventFormData.Start,
            End = eventFormData.End,
            Tags = string.IsNullOrWhiteSpace(eventFormData.Tags)
                ? []
                : eventFormData.Tags.Split(",").ToList()
        };

        var updatedEvent = await EventService.UpdateEvent(updateBasicEventRequest);

        // This ensures that when the visibility is toggled the eventform receives the updated state
        EventDto = updatedEvent;

        _showEditForm = false;

        await InvokeAsync(StateHasChanged);
    }

}